/*Background of app*/
body {
	background-color: #cdd4ca;
}

/*Header Styling*/
.jumbotron {
	background-color: #153e5c;
	color: #ffffff;
	border: 5px solid #f2be54;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}

/*Panel Styling*/
.panel{
	border: 1px solid #153e5c;
}
.panel-heading {
	background-color: #87aeb4;
	color:#191a1d;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.table-striped{
	background-color: #f2be54;
}

/*Table Row Header Styling*/
th{
	color:#191a1d;
	font-size: 16px;
	font-weight: bold;
	background-color: #ffffff;
}

/*Panel Body Styling for both panels*/
.panel-body {
	color: #191a1d;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

/*Form Styling*/
.btn {
	background-color: #f2be54;
	color:#191a1d;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
label {
	font-size: 16px;
}
